<nav>
  <button id="logout" class="btn-no-style">logout</button>
</nav>

<ol class="post-list">
  {{#each doctors as |doctor|}}
  <li>
    <article class="post">
      <div class="title">
        <p>Welcome Doctor!</p>
        <p>Doctor's name: {{doctor.doc_name}}</p>
        <p>List of patiences: </p>
      </div>
    </article>
  </li>
  {{/each}}
</ol>

 <script src="/javascript/doc-logout.js"></script>

