<div>
<p>Sign in as: </p>
<button id="doctor-signin"type="click">Doctor</button>
<button id="nurse-signin" type="click">Nurse</button>

<p>New Here? Sign-Up as: </p>
<button id="doctor-signup" type="click">Doctor</button>
<button id="nurse-signup" type="click">Nurse</button>
</div>

<script src="/javascript/homepage.js"></script>