<form class="doc-login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="doc-signup-form">
  <div>
    <label for="name-signup">Doc First Name:</label>
    <input type="text" id="name-signup" />
  </div>
  <div>
    <label for="lname-signup">Doc Last Name:</label>
    <input type="text" id="lname-signup" />
  </div>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<form class="nur-login-form">
  <div>
    <label for="nur-email-login">Nurse email:</label>
    <input type="text" id="nur-email-login" />
  </div>
  <div>
    <label for="nur-password-login">Nurse password:</label>
    <input type="password" id="nur-password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="nur-signup-form">
  <div>
    <label for="nur-username-signup">Nurse First Name:</label>
    <input type="text" id="nur-name-signup" />
  </div>
  <div>
    <label for="nur-username-signup">Nurse Last Name:</label>
    <input type="text" id="nur-lname-signup" />
  </div>
  <div>
    <label for="nur-username-signup">Nurse username:</label>
    <input type="text" id="nur-username-signup" />
  </div>
  <div>
    <label for="nur-email-signup">Nurse email:</label>
    <input type="text" id="nur-email-signup" />
  </div>
  <div>
    <label for="nur-password-signup">Nurse password:</label>
    <input type="password" id="nur-password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>