<form class="nur-login-form">
  <div>
    <label for="nur-email-login">Nurse email:</label>
    <input type="text" id="nur-email-login" />
  </div>
  <div>
    <label for="nur-password-login">Nurse password:</label>
    <input type="password" id="nur-password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<script src="/javascript/nur-sign-in.js"></script>