<form class="nur-signup-form">
  <div>
    <label for="nur-username-signup">Nurse First Name:</label>
    <input type="text" id="nur-name-signup" />
  </div>
  <div>
    <label for="nur-username-signup">Nurse Last Name:</label>
    <input type="text" id="nur-lname-signup" />
  </div>
  <div>
    <label for="nur-username-signup">Nurse username:</label>
    <input type="text" id="nur-username-signup" />
  </div>
  <div>
    <label for="nur-email-signup">Nurse email:</label>
    <input type="text" id="nur-email-signup" />
  </div>
  <div>
    <label for="nur-password-signup">Nurse password:</label>
    <input type="password" id="nur-password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/nur-sign-up.js"></script>