<ol class="post-list">
  {{#each nurses as |nurse|}}
  <li>
    <article class="post">
      <div class="title">
        <p>Welcome Nurse!</p>
        <p>Nurse's name: {{nurse.nur_name}}</p>
      </div>
    </article>
  </li>
  {{/each}}
</ol>