<nav>
  <button id="logout" class="btn-no-style">logout</button>
</nav>
hello

<ol class="post-list">
  {{#if loggedIn}}
  <li>tests {{user.name}}</li>
  {{/if}}
</ol>

 <script src="/javascript/logout.js"></script>
 <script src="/javascript/profile.js"></script>

