<nav>
  <button id="logout" class="btn-no-style">logout</button>
</nav>

<ol class="post-list">
  {{#if loggedIn}}
  <li>tests {{user.doc_name}}</li>
  {{/if}}
</ol>

 {{!-- <script src="/javascript/doc-logout.js"></script> --}}

