
<form class="user-signup-form">
  <div>
    <label for="name-signup">First Name:</label>
    <input type="text" id="name-signup" />
  </div>
  <div>
    <label for="lname-signup">Last Name:</label>
    <input type="text" id="lname-signup" />
  </div>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <p>
    What is your role?
    <div>
      <input type="radio" id="doc-role-signup"/>
      <label for="doc-role-signup">Doctor</label>
      <input type="radio" id="nur-role-signup"/>
      <label for="nur-role-signup">Nurse</label>
    </div>
  </p>
  <div>
    <button type="submit" id="user-signup-form">signup</button>
  </div>
</form>

<script src="/javascript/user-sign-up.js"></script>